translator/src/data - ショートカット.lnk
translator/src/decrypt.bat
translator/src/encrypt.bat
translator/src/extract.bat
translator/src/FastColoredTextBox.dll
translator/src/ipf_unpack.exe
translator/src/IPFSuite.exe
translator/src/zlib1.dll
